// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "./_variables.scss";

@import "./_fonts.scss";

body {
    margin: 0;
    font-family: "Maax Rounded";
    font-weight: 400;
    color: $black;
    font-size: 18px;
}
#main {
    padding: 0 78px;
}

a {
    text-decoration: none;
    color: $black;
}

h1 {
    font-size: 60px;
    line-height: 67.44px;
    text-align: center;
}
h2 {
    font-size: 36px;
    line-height: 40.45px;
}
h3 {
    font-size: 24px;
    line-height: 26.96px;
}
h4 {
    font-size: 24px;
    line-height: 26.96px;
    text-transform: uppercase;
}
h6 {
    font-size: 10px;
    line-height: 10px;
    font-family: "Founders Grotesk Mono";
}

input:focus {
    outline: none;
}

.theme_link {
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid #1c1c1c;
    border-radius: 30px;
}

.climatBGColor {
    background-color: $climat !important;
}
.bioBGColor {
    background-color: $bio !important;
}
.pecheBGColor {
    background-color: $peche !important;
}
.pollutionBGColor {
    background-color: $pollution !important;
}
.ecoBGColor {
    background-color: $eco !important;
}

.climatBGColorNAV {
    &::before {
        background-color: $climat !important;
    }
}
.bioBGColorNAV {
    &::before {
        background-color: $bio !important;
    }
}
.pecheBGColorNAV {
    &::before {
        background-color: $peche !important;
    }
}
.pollutionBGColorNAV {
    &::before {
        background-color: $pollution !important;
    }
}
.ecoBGColorNAV {
    &::before {
        background-color: $eco !important;
    }
}

.climatColor {
    color: $climat !important;
}
.bioColor {
    color: $bio !important;
}
.pecheColor {
    color: $peche !important;
}
.pollutionColor {
    color: $pollution !important;
}
.ecoColor {
    color: $eco !important;
}


