// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "./_variables.scss";

@import "./_fonts.scss";

body {
    margin: 0;
    font-family: "Maax Rounded";
    font-weight: 400;
    color: $black;
    font-size: 18px;
    background-color: $body-bg;
}
#main {
    padding: 0 78px;
}

a {
    text-decoration: none;
    color: $black;
}

h1 {
    font-size: 60px;
    line-height: 67.44px;
    text-align: center;
}
h2 {
    font-size: 36px;
    line-height: 40.45px;
}
h3 {
    font-size: 24px;
    line-height: 26.96px;
}
h4 {
    font-size: 24px;
    line-height: 26.96px;
    text-transform: uppercase;
}
h6 {
    margin: 10px 0 0;
    font-family: "Founders Grotesk Mono";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
}
.form_title {
    font-family: "Founders Grotesk Mono";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}
.subtitle {
    font-family: "Founders Grotesk Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

input:focus {
    outline: none;
}

.theme_link {
    background-color: $body-bg;
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid #1c1c1c;
    border-radius: 30px;
    &:hover {
        transition: background-color 150ms linear;
        background-color: $black;
        color: $white;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
        no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 0.3;
    pointer-events: all;
}

.climatBGColor {
    background-color: $climat !important;
}
.bioBGColor {
    background-color: $bio !important;
}
.pecheBGColor {
    background-color: $peche !important;
}
.pollutionBGColor {
    background-color: $pollution !important;
}
.ecoBGColor {
    background-color: $eco !important;
}
.climatLightBGColor {
    background-color: $climat-light !important;
}
.bioLightBGColor {
    background-color: $bio-light !important;
}
.pecheLightBGColor {
    background-color: $peche-light !important;
}
.pollutionLightBGColor {
    background-color: $pollution-light !important;
}
.ecoLightBGColor {
    background-color: $eco-light !important;
}

.climatBorderColor {
    border: 1px solid $climat !important;
}
.bioBorderColor {
    border: 1px solid $bio !important;
}
.pecheBorderColor {
    border: 1px solid $peche !important;
}
.pollutionBorderColor {
    border: 1px solid $pollution !important;
}
.ecoBorderColor {
    border: 1px solid $eco !important;
}

.climatBorderBottomColor {
    border-bottom: 1px solid $climat !important;
}
.bioBorderBottomColor {
    border-bottom: 1px solid $bio !important;
}
.pecheBorderBottomColor {
    border-bottom: 1px solid $peche !important;
}
.pollutionBorderBottomColor {
    border-bottom: 1px solid $pollution !important;
}
.ecoBorderBottomColor {
    border-bottom: 1px solid $eco !important;
}

.climatBGColorNAV {
    &::before {
        background-color: $climat !important;
    }
}
.bioBGColorNAV {
    &::before {
        background-color: $bio !important;
    }
}
.pecheBGColorNAV {
    &::before {
        background-color: $peche !important;
    }
}
.pollutionBGColorNAV {
    &::before {
        background-color: $pollution !important;
    }
}
.ecoBGColorNAV {
    &::before {
        background-color: $eco !important;
    }
}

.climatColor {
    color: $climat !important;
}
.bioColor {
    color: $bio !important;
}
.pecheColor {
    color: $peche !important;
}
.pollutionColor {
    color: $pollution !important;
}
.ecoColor {
    color: $eco !important;
}

.climatBGColorHover {
    &:hover {
        transition: background-color 150ms linear;
        background-color: $climat !important;
        color: $white;
    }
}
.bioBGColorHover {
    &:hover {
        transition: background-color 150ms linear;
        background-color: $bio !important;
        color: $white;
    }
}
.pecheBGColorHover {
    &:hover {
        transition: background-color 150ms linear;
        background-color: $peche !important;
        color: $white;
    }
}
.pollutionBGColorHover {
    &:hover {
        transition: background-color 150ms linear;
        background-color: $pollution !important;
        color: $white;
    }
}
.ecoBGColorHover {
    &:hover {
        transition: background-color 150ms linear;
        background-color: $eco !important;
        color: $white;
    }
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 1px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: #949494;
}
