@import url(https://fonts.googleapis.com/css?family=Nunito);
/* @font-face {
    font-family: "maax_rounded";
    font-style: normal;
    src: url("/public/fonts/Maax_Rounded_Medium.otf") format("otf");
} */
body {
  margin: 0;
  font-family: "Maax Rounded";
  font-weight: 400;
  color: #1c1c1c;
  font-size: 18px;
}

#main {
  padding: 0 78px;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

h1 {
  font-size: 60px;
  line-height: 67.44px;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 40.45px;
}

h3 {
  font-size: 24px;
  line-height: 26.96px;
}

h4 {
  font-size: 24px;
  line-height: 26.96px;
  text-transform: uppercase;
}

h6 {
  font-size: 10px;
  line-height: 10px;
  font-family: "Founders Grotesk Mono";
}

.form_title {
  font-family: "Founders Grotesk Mono";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}

.subtitle {
  font-family: "Founders Grotesk Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
}

input:focus {
  outline: none;
}

.theme_link {
  background-color: #fff;
  font-size: 14px;
  padding: 5px 15px;
  border: 1px solid #1c1c1c;
  border-radius: 30px;
}
.theme_link:hover {
  transition: background-color 150ms linear;
  background-color: #1c1c1c;
  color: #fff;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type=search]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

.certified {
  position: absolute;
  top: 126px;
  left: 59px;
}

.climatBGColor {
  background-color: #276dff !important;
}

.bioBGColor {
  background-color: #00d4ae !important;
}

.pecheBGColor {
  background-color: #f4a0d2 !important;
}

.pollutionBGColor {
  background-color: #fd5b2a !important;
}

.ecoBGColor {
  background-color: #fab322 !important;
}

.climatBorderColor {
  border-color: #276dff !important;
}

.bioBorderColor {
  border-color: #00d4ae !important;
}

.pecheBorderColor {
  border-color: #f4a0d2 !important;
}

.pollutionBorderColor {
  border-color: #fd5b2a !important;
}

.ecoBorderColor {
  border-color: #fab322 !important;
}

.climatBGColorNAV::before {
  background-color: #276dff !important;
}

.bioBGColorNAV::before {
  background-color: #00d4ae !important;
}

.pecheBGColorNAV::before {
  background-color: #f4a0d2 !important;
}

.pollutionBGColorNAV::before {
  background-color: #fd5b2a !important;
}

.ecoBGColorNAV::before {
  background-color: #fab322 !important;
}

.climatColor {
  color: #276dff !important;
}

.bioColor {
  color: #00d4ae !important;
}

.pecheColor {
  color: #f4a0d2 !important;
}

.pollutionColor {
  color: #fd5b2a !important;
}

.ecoColor {
  color: #fab322 !important;
}

.climatBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #276dff !important;
  color: #fff;
}

.bioBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #00d4ae !important;
  color: #fff;
}

.pecheBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #f4a0d2 !important;
  color: #fff;
}

.pollutionBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #fd5b2a !important;
  color: #fff;
}

.ecoBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #fab322 !important;
  color: #fff;
}
