@import url(https://fonts.googleapis.com/css?family=Nunito);
/* @font-face {
    font-family: "maax_rounded";
    font-style: normal;
    src: url("/public/fonts/Maax_Rounded_Medium.otf") format("otf");
} */
body {
  margin: 0;
  font-family: "Maax Rounded";
  font-weight: 400;
  color: #1c1c1c;
  font-size: 18px;
  background-color: #f6f6f6;
}

#main {
  padding: 0 78px;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

h1 {
  font-size: 60px;
  line-height: 67.44px;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 40.45px;
}

h3 {
  font-size: 24px;
  line-height: 26.96px;
}

h4 {
  font-size: 24px;
  line-height: 26.96px;
  text-transform: uppercase;
}

h6 {
  margin: 10px 0 0;
  font-family: "Founders Grotesk Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
}

.form_title {
  font-family: "Founders Grotesk Mono";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}

.subtitle {
  font-family: "Founders Grotesk Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
}

input:focus {
  outline: none;
}

.theme_link {
  background-color: #fff;
  font-size: 14px;
  padding: 5px 15px;
  border: 1px solid #1c1c1c;
  border-radius: 30px;
  cursor: default;
  /*  &:hover {
      transition: background-color 150ms linear;
      background-color: $black;
      color: $white;
  } */
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type=search]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

.climatBGColor {
  background-color: #f4a0d2 !important;
}

.bioBGColor {
  background-color: #00d4ae !important;
  /* border-top-left-radius: 21px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 21px; */
}

.pecheBGColor {
  background-color: #276dff !important;
}

.pollutionBGColor {
  background-color: #fd5b2a !important;
}

.ecoBGColor {
  background-color: #fab322 !important;
}

.climatLightBGColor {
  background-color: #f5dceb !important;
}

.bioLightBGColor {
  background-color: #acece0 !important;
}

.pecheLightBGColor {
  background-color: #b8cdf9 !important;
}

.pollutionLightBGColor {
  background-color: #f8bbac !important;
}

.ecoLightBGColor {
  background-color: #f7e2b6 !important;
}

.climatBorderColor {
  border: 1px solid #f4a0d2 !important;
  border-radius: 0px !important;
}

.bioBorderColor {
  border: 1px solid #00d4ae !important;
  border-top-left-radius: 21px !important;
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  border-bottom-left-radius: 21px !important;
}

.pecheBorderColor {
  border: 1px solid #276dff !important;
  border-top-left-radius: 21px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 21px !important;
}

.pollutionBorderColor {
  border: 1px solid #fd5b2a !important;
  border-radius: 40px !important;
}

.ecoBorderColor {
  border: 1px solid #fab322 !important;
  border-radius: 13px !important;
}

.climatBorderBottomColor {
  border-bottom: 1px solid #f4a0d2 !important;
}

.bioBorderBottomColor {
  border-bottom: 1px solid #00d4ae !important;
}

.pecheBorderBottomColor {
  border-bottom: 1px solid #276dff !important;
}

.pollutionBorderBottomColor {
  border-bottom: 1px solid #fd5b2a !important;
}

.ecoBorderBottomColor {
  border-bottom: 1px solid #fab322 !important;
}

.climatBGColorNAV::before {
  background-color: #f4a0d2 !important;
}

.bioBGColorNAV::before {
  background-color: #00d4ae !important;
}

.pecheBGColorNAV::before {
  background-color: #276dff !important;
}

.pollutionBGColorNAV::before {
  background-color: #fd5b2a !important;
}

.ecoBGColorNAV::before {
  background-color: #fab322 !important;
}

.climatColor {
  color: #f4a0d2 !important;
}

.bioColor {
  color: #00d4ae !important;
}

.pecheColor {
  color: #276dff !important;
}

.pollutionColor {
  color: #fd5b2a !important;
}

.ecoColor {
  color: #fab322 !important;
}

.climatBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #f4a0d2 !important;
  color: #fff;
}

.bioBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #00d4ae !important;
  color: #fff;
}

.pecheBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #276dff !important;
  color: #fff;
}

.pollutionBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #fd5b2a !important;
  color: #fff;
}

.ecoBGColorHover:hover {
  transition: background-color 150ms linear;
  background-color: #fab322 !important;
  color: #fff;
}

.link_img {
  color: #fff;
}
.link_img div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.link_img div img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.layout {
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  background: linear-gradient(0deg, #1c1c1c 0%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100%;
}
.layout div {
  display: flex;
  justify-content: center;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 1px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #949494;
}
